.sidenav {
	width: 215px;
	height: 100vh;
	padding-left: 35px;
	position: fixed;
}

.logo {
	padding-top: 25px;
	font-family: "Rammetto One", sans-serif;
}

.mod {
	font-size: 40px;
	color: grey;
}

.ui {
	color: #53DBD6;
}

.menu {
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	margin-top: 9px;
}

.menu div {
	padding-top: 9px;
	padding-bottom: 9px;
}

.menu div:hover {
	cursor: pointer;
	background-color: #53DBD6;
	color: white;
	padding-left: 15px;
	transition:all 0.3s ease;
}

.active1 {
	background-color: #53DBD6;
	color: white;
	padding-left: 15px;
}

.active2 {
	background-color: #53DBD6;
	color: white;
	padding-left: 15px;
}

.active3 {
	background-color: #53DBD6;
	color: white;
	padding-left: 15px;
}

.active4 {
	background-color: #53DBD6;
	color: white;
	padding-left: 15px;
}

.active5 {
	background-color: #53DBD6;
	color: white;
	padding-left: 15px;
}

.social-buttons {
	display: flex;
	position: absolute;
	bottom: 30px;
}

.social-buttons div {
	margin-right: 20px;
}

.social-buttons div:hover {
	cursor: pointer;
	color: #53DBD6;
}