.yearCard {
	width: 100%;
}

.year-container {
	width: 20%;
	transform: translate(33%, 50%);
}

.article-links {
	width: 200%;
	height: 190px;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	left: 110%;
	top: 1%;
	color: green;
}
