.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*padding: 15px;*/
    width: 100%;
}

/*.feature {
    width: 45%;
    min-width: 250px;
    min-height: 300px;
}

.nonfeature {
    width: 20%;
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

.nonfeture::-webskit-scrollbar {
    display: none;
}*/

.content {
    padding: 10px;
    margin: 15px;
    width: 250px;
    height: 300px;
    min-width: 250px;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 5%;
    box-shadow: .5px 2px 5px;
    transition:all 0.3s ease;
}

.content::-webkit-scrollbar {
    display: none;
}

.content:hover {
    box-shadow: none;
    border: 3px solid rgba(111, 236, 202, .6);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
